out/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
*.db
*.sqlite3
*.log
*.mp4
*.avi


data/
build/
install/
log/
models/
outputs/
deps/*

.clang-format
.vscode/
.DS_Store

# artifacts
*.h5
*.png
*.npy
*.npz
*.prof
*.pdf
*.txt
