scene_dataset_config_file: "default"
scene: "data/scene_datasets/habitat-test-scenes/apartment_1.glb"

# Camera sensor parameters
width: 640
height: 480
hfov: 90
zfar: 1000.0
clear_color: [0.0, 0.0, 0.0, 1.0] # BLACK in RGBA (assuming mn.Color4.from_linear_rgb_int(0))

sensor_height: 0.05
default_agent: 0
agent_radius: 0.1

# Sensors
imu_sensor: true
color_sensor: true
event_camera: true
semantic_sensor: false
depth_sensor: true
ortho_rgba_sensor: false
ortho_depth_sensor: false
ortho_semantic_sensor: false
fisheye_rgba_sensor: false
fisheye_depth_sensor: false
fisheye_semantic_sensor: false
equirect_rgba_sensor: false
equirect_depth_sensor: false
equirect_semantic_sensor: false

# Camera Rates
imu_sampling_rate: 50 # Hz
color_sensor_rate: 10
depth_sensor_rate: 10

seed: 1
physics_config_file: "data/default.physics_config.json"
enable_physics: true # Replace with false if `built_with_bullet` is False

default_agent_navmesh: true
navmesh_include_static_objects: false
enable_hbao: false
frustum_culling: true

start_position: [0, -3, 0.2]
trajectory:
  type: "polynomial"
  points: [[0, -3, 0.2], [0, 1, 0.2], [4, 1, 0.2], [4, -1.5, 0.2]]
  v_avg: 1
