scene_dataset_config_file: "default"
scene: "data/scene_datasets/habitat-test-scenes/skokloster-castle.glb"

# Camera sensor parameters
width: 640
height: 480
hfov: 90
zfar: 1000.0
clear_color: [0.0, 0.0, 0.0, 1.0] # BLACK in RGBA (assuming mn.Color4.from_linear_rgb_int(0))

sensor_height: 0.05
default_agent: 0
agent_radius: 0.1

# Sensors
imu_sensor: true
color_sensor: true
event_camera: true
semantic_sensor: false
depth_sensor: true
ortho_rgba_sensor: false
ortho_depth_sensor: false
ortho_semantic_sensor: false
fisheye_rgba_sensor: false
fisheye_depth_sensor: false
fisheye_semantic_sensor: false
equirect_rgba_sensor: false
equirect_depth_sensor: false
equirect_semantic_sensor: false

# Backend to use: "cuda", "vid2e", "torch", "airsim", or "auto"
event_camera_backend: "cuda"
# Contrast thresholds
event_contrast_threshold_pos: 0.35
event_contrast_threshold_neg: 0.35

# Camera Rates
imu_sampling_rate: 50 # Hz
color_sensor_rate: 10
depth_sensor_rate: 10

# Navmesh
navmesh: true
navmesh_meters_per_pixel: 0.1

seed: 1
physics_config_file: "data/default.physics_config.json"
enable_physics: true # Replace with false if `built_with_bullet` is False

default_agent_navmesh: true
navmesh_include_static_objects: false
enable_hbao: false
frustum_culling: true

start_position: [-3.0, -14, 2]
trajectory:
  type: "polynomial"
  points: [[-3, -14, 2], [-4, -7, 2], [5, -7, 2], [4, -14, 2]]
  v_avg: 2
